@model PromotionsSG.Presentation.WebPortal.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

@using (Html.BeginForm("Login", "LoginView", FormMethod.Post, new { @id = "commonLoginForm", @class = "_page-wrapper stepping" }))
{
<div>
    @Html.Label("Login As: ")
    @Html.RadioButtonFor(model => model.userDto.UserType, 1) Customer
    @Html.RadioButtonFor(model => model.userDto.UserType, 2) Shop

    <br />
    @Html.Label("UserName: ")
    @Html.TextBoxFor(model => model.userDto.UserName)

    <br />
    @Html.Label("Password: ")
    @Html.TextBoxFor(model => model.userDto.Password)

    <br />
    <button type="submit" id="loginButton">Login</button>

    <br />
    <a href="/register">Register</a>

</div>
}

<script>

</script>