@model Common.DBTableModels.CustomerProfiles
@{
    ViewData["Title"] = "View Customer Profile";
}
@using Microsoft.AspNetCore.Http;
    <div id="brand" class="brand-bg">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="ViewCustomerProfile">
                    <h1>View Customer Profile</h1>
                    <hr />
                    <div>
                        <label class="control-label"><b>Full Name:</b> </label>
                        @Html.DisplayFor(model => Model.CustomerFullName)
                    </div>
                    <div>
                        <label class="control-label"><b>Gender: </b></label>
                        @Html.DisplayFor(model => Model.CustomerGender)
                    </div>
                    <div>
                        <label class="control-label"><b>Date of Birth: </b></label>
                        @Html.DisplayFor(model => Model.CustomerDOB)
                    </div>
                    <div>
                        <label class="control-label"><b>Phone: </b></label>
                        @Html.DisplayFor(model => Model.CustomerPhone)
                    </div>
                    <div>
                        <label class="control-label"><b>Address: </b></label>
                        @Html.DisplayFor(model => Model.CustomerAddress)
                    </div>
                    <div>
                        <label class="control-label"><b>Postal Code: </b></label>
                        @Html.DisplayFor(model => Model.PostalCode)
                    </div>
                </form>
            </div>
        </div>
        <div>
            <a class="buynow" asp-action="UpdateCustomerProfile">Update Profile</a>
            <br />
        </div>

        <div>
            <a asp-controller="Claim" asp-action="Index">Claim History</a>
        </div>
    </div>

<style>
    .buynow {
        margin-left: 0px;
    }

</style>
