@model RecommendationViewModel

@{
    ViewData["Title"] = "CustomerViewRecommendedPromotions";
}

<div id="brand" class="brand-bg">
    <h1> <b>Just For You</b></h1>
</div>

@if (Model != null)
{
    @if (Model.AllPromotionsByRegion == null || Model.AllPromotionsByRegion.Count == 0)
    {
    }

    else
    {
        <!-- By Region -->
        <div id="brand" class="brand-bg">
            <h3>Popular in your area!</h3>
            <div class="row">
                @foreach (var item in Model.AllPromotionsByRegion)
                {
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                        <div class="brand-box">
                            <h5>@Html.DisplayFor(modelItem => item.Region)</h5>
                            <i>
                                <img src="~/icon/p1.png" />
                            </i>
                            <h4>@Html.DisplayFor(modelItem => item.Header)</h4>
                            <h2>@Html.DisplayFor(modelItem => item.Description)</h2>
                            <h2>Stocks: @Html.DisplayFor(modelItem => item.Qty)</h2>
                        </div>
                        @*<a class="buynow" href="#">Claim now</a>*@
                        @await Component.InvokeAsync("ClaimButton", item.PromotionId)
                        <br />
                        <br />
                    </div>
                }
            </div>
        </div>
    }


    @*<a class="seemore" href="#">See more</a>*@
    <!-- By Region  -->
    <!-- By Popularity -->
    @if (Model.AllPopularPromotions == null || Model.AllPopularPromotions.Count == 0)
    {
    }
    else
    {
        <div id="brand" class="brand-bg">
            <h3>Most Popular Promotions Now!</h3>
            <div class="row">
                @foreach (var item in Model.AllPopularPromotions)
                {
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                        <div class="brand-box">
                            <h5>Top</h5>
                            <i>
                                <img src="~/icon/p2.png" />
                            </i>
                            <h4>@Html.DisplayFor(modelItem => item.Header)</h4>
                            <h2>@Html.DisplayFor(modelItem => item.Description)</h2>
                            <h2>Stocks: @Html.DisplayFor(modelItem => item.Qty)</h2>
                        </div>
                        @*<a class="buynow" href="#">Claim now</a>*@
                        @await Component.InvokeAsync("ClaimButton", item.PromotionId)
                        <br />
                        <br />
                    </div>
                }
            </div>
        </div>
    }
    @*<a class="seemore" href="#">See more</a>*@
    <!-- By Popularity -->

    <!-- By New -->
    @if (Model.AllNewPromotions == null || Model.AllNewPromotions.Count == 0)
    {
    }
    else
    {
        <div id="brand" class="brand-bg">
            <h3>New! Just in!</h3>
            <div class="row">
                @foreach (var item in Model.AllNewPromotions)
                {
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                        <div class="brand-box">
                            <h5>New</h5>
                            <i>
                                <img src="~/icon/p4.png" />
                            </i>
                            <h4>@Html.DisplayFor(modelItem => item.Header)</h4>
                            <h2>@Html.DisplayFor(modelItem => item.Description)</h2>
                            <h2>Stocks: @Html.DisplayFor(modelItem => item.Qty)</h2>
                        </div>
                        @*<a class="buynow" href="#">Claim now</a>*@
                        @await Component.InvokeAsync("ClaimButton", item.PromotionId)
                        <br />
                        <br />
                    </div>
                }
            </div>
        </div>
    }
    @*<a class="seemore" href="#">See more</a>*@
    <!-- By New -->

}
else
{
    <div id="brand" class="brand-bg">
        <h3>No promotions at the moment.</h3>
    </div>
}

<style>
    h1 {
        text-align: center;
        font-size: 40px;
    }
</style>