@model PromotionsSG.Presentation.WebPortal.Models.ShopProfileViewModel

@{
    ViewData["Title"] = "Shop Profile";
}

@using (Html.BeginForm("UpdateShopProfile", "ShopProfileView", FormMethod.Post, new { @id = "shopProfileForm", @class = "_page-wrapper stepping" }))
{
    <div>
        @Html.Label("Shop Name: ")
        @Html.TextBoxFor(model => model.shopProfileDto.ShopName)

        <br />
        @Html.Label("Shop Email") @Html.TextBoxFor(model => model.shopProfileDto.ShopEmail)

        <br />
        @Html.Label("Shop Address") @Html.TextBoxFor(model => model.shopProfileDto.ShopAddress)

        <br />
        <button type="submit" id="updateShopProfileButton">Update</button>
    </div>
    <div>
        <a asp-controller="PromotionView" asp-action="PromotionByShopId">Maintain Promotion</a>
    </div>
}

<script>

</script>