@model ClaimViewModel

@{
    ViewData["Title"] = "Claim Details";
}



<div id="brand" class="brand-bg">
    <h1>@ViewData["Title"]</h1>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <div style="margin-left:0;">
                <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.QrBtyes))" height="300" width="300" />
            </div>

            <div>
                <br /><b>Shop:</b> @Model.ClaimExtraInfo.ShopProfileDto.ShopName
                <br /><b>Promotion Title:</b> @Model.ClaimExtraInfo.PromotionDto.Header
                <br /><b>Promotion Description:</b> @Model.ClaimExtraInfo.PromotionDto.Description
                <br /><b>Promotion Start Date:</b> @Model.ClaimExtraInfo.PromotionDto.StartDate.ToString("yyyy-MM-dd")
                <br /><b>Promotion End Date:</b> @Model.ClaimExtraInfo.PromotionDto.EndDate.ToString("yyyy-MM-dd")
            </div>

            @if (Model.ClaimExtraInfo.ClaimDto.Consumed == false)
            {
                <div>
                    <form asp-controller="Claim" asp-action="Use" method="post" enctype="multipart/form-data">
                        <input hidden name="claimId" value="@Model.ClaimExtraInfo.ClaimDto.ClaimId" />
                        <button type="submit" class="buynow">Use</button>
                    </form>
                </div>
            }
            else
            {
                <div class="text-danger">
                    <br />Used Date: @Model.ClaimExtraInfo.ClaimDto.ConsumeDate.Value.ToString("yyyy-MM-dd")
                </div>
            }
        </div>
    </div>
</div>

<style>
    .buynow {
        margin-left: 0px;
    }
</style>

